/* Styles généraux */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: auto;
  overflow: hidden;
  position: relative;
  height: 85%; /* Augmentation pour inclure les boutons */
}

.slide {
  opacity: 0;
  visibility: hidden;
  padding: 30px 20px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  margin-bottom: 20px;
  position: absolute;
  top: 0;
  width: 100%;
  transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.active {
  opacity: 1;
  visibility: visible;
}

.slide h1 {
  color: #712cca;
  font-size: 2em;
  margin-bottom: 15px; /* Réduction de la marge */
}

.slide p,
.slide ul {
  font-size: 1.2em;
  line-height: 1.4; /* Réduction de l'interligne */
  color: #333;
}

.slide img {
  width: 80%; /* Ajusté pour éviter que l'image prenne trop de place */
  max-width: 600px;
  margin-top: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Liste avec les icônes */
ul {
  list-style: none;
  padding-left: 0;
}

ul li {
  margin: 10px 0; /* Espacement ajusté */
  display: flex;
  align-items: center;
}

ul li .tech-icon {
  width: 30px; /* Ajustement de la taille des icônes */
  margin-right: 10px;
}

/* Positionnement des boutons */
.navigation {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.nav-button {
  background-color: #712cca;
  color: white;
  border: 2px solid transparent;
  padding: 10px 15px;
  font-size: 1.1em;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.nav-button:hover {
  background: linear-gradient(45deg, #9b59b6, #e91e63);
  border: 2px solid #007bff;
}

/* Animation de transition */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide.active {
  animation: fadeIn 1s ease-out;
}

/* Responsive */
@media (max-width: 768px) {
  .container {
    height: 90%;
  }

  .slide {
    padding: 20px;
  }

  .slide h1 {
    font-size: 1.8em;
  }

  .slide p,
  .slide ul {
    font-size: 1em;
  }

  .slide img {
    width: 95%;
  }

  .navigation {
    bottom: 10px;
    flex-direction: column;
    align-items: center;
  }

  .nav-button {
    width: 80%;
    font-size: 1em;
    padding: 12px;
  }
}

@media (max-width: 480px) {
  .container {
    height: 95%;
  }

  .slide h1 {
    font-size: 1.6em;
  }

  .slide p,
  .slide ul {
    font-size: 0.9em;
  }

  .navigation {
    bottom: 5px;
  }

  .nav-button {
    width: 90%;
    padding: 10px;
    font-size: 0.9em;
  }
}
