/* Styles généraux */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: auto;
  overflow: hidden;
  position: relative;
  height: 80%; /* 80% de la hauteur de la fenêtre pour laisser de la place aux boutons */
}

.slide {
  opacity: 0;
  visibility: hidden;
  padding-top: 50px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  margin-bottom: 20px;
  position: absolute; /* Positionnement absolu pour superposer les slides */
  top: 0;
  bottom: 300px;
  width: 100%;
  transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}

.active {
  opacity: 1;
  visibility: visible;
}

.slide h1 {
  color: #712cca;
  font-size: 2em;
  margin-bottom: 20px;
}

.slide p,
.slide ul {
  font-size: 1.2em;
  line-height: 1.6;
  color: #333;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul li {
  margin: 10px 0;
}

/* Positionnement des boutons dans le conteneur */
.navigation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  width: 60%;
  z-index: 10; /* Assure que les boutons sont au-dessus des diapositives */
}

.nav-button {
  background-color: #712cca;
  color: white;
  border: 2px solid transparent; /* Bordure transparente par défaut */
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease; /* Transition sur tous les changements */
}

.nav-button:hover {
  background: linear-gradient(
    45deg,
    #9b59b6,
    #e91e63
  ); /* Dégradé violet-rose */
  color: white;
  border: 2px solid #007bff; /* Bordure bleue */
}

/* Animation de transition */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide.active {
  animation: fadeIn 1s ease-out;
}

/* Styles pour les écrans de tablette */
@media (max-width: 768px) {
  body {
    padding: 10px;
  }

  .container {
    width: 100%;
    height: 70%; /* Un peu plus de place pour les boutons */
  }

  .active {
    height: 100%;
  }

  .slide h1 {
    font-size: 1.8em; /* Ajustement de la taille du titre */
  }

  .slide p,
  .slide ul {
    font-size: 1em; /* Réduction de la taille du texte pour les petits écrans */
  }

  .navigation {
    flex-direction: column;
    width: 100%;
    top: 60%;
    left: 60%;
  }

  .nav-button {
    width: 80%; /* Boutons plus larges */
    margin: 10px 0;
    font-size: 1em; /* Taille du texte réduite pour mieux s'adapter */
    padding: 12px 20px;
  }
}

/* Styles pour les petits écrans (mobiles) */
@media (max-width: 480px) {
  body {
    padding: 5px;
  }

  .container {
    width: 100%;
    height: 60%;
  }

  .slide h1 {
    font-size: 1.6em; /* Taille réduite pour les petits écrans */
  }

  .slide p,
  .slide ul {
    font-size: 0.9em;
  }

  .navigation {
    flex-direction: column;
    width: 100%;
    top: 60%;
    left: 55%;
  }

  .nav-button {
    width: 90%; /* Boutons presque aussi larges que l'écran */
    padding: 14px 20px;
    font-size: 1em;
  }
}
